<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.rm.mapper.GplanMapper">
    <select id="selectPageC" resultType="com.example.rm.entity.Gplan">
        SELECT gplan.*, goods.name AS gname
        FROM gplan
        JOIN goods ON gplan.gid = goods.id
        <where>
            <!-- 你可以在这里添加额外的查询条件 -->
            ${ew.sqlSegment}
        </where>
        ORDER BY gplan.id DESC
    </select>



</mapper>
